<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="org.green.spring.account.repository.AccountRepository">
 
 <!-- 목록조회 -->
<select id="selectList" resultType="org.green.spring.account.domain.AccountDto">
SELECT ACC_NUM,A.TEAM_NAME,ACC_DIVISION,ACC_CONTENT,ACC_MONEY,ACC_DATE,ACC_NOTE
        FROM TEAM_ACCOUNT A JOIN TEAM_USERS U ON (A.TEAM_NAME = U.TEAM_NAME)       
        WHERE  U.ROLE = 'ROLE_ADMIN' AND U.TEAM_JOIN = 'ACCESS' AND A.TEAM_NAME = #{teamName}
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.account.domain.AccountDto">
	SELECT * 
		FROM TEAM_ACCOUNT
			WHERE ACC_NUM = #{accNum}
</select>
 
 
 <!-- 추가 -->
<insert id="insert">
	INSERT INTO TEAM_ACCOUNT (ACC_NUM,TEAM_NAME,ACC_DIVISION,ACC_CONTENT,ACC_MONEY,ACC_DATE,ACC_NOTE) 
		VALUES ( TEAM_ACCOUNT_SEQ.nextval, #{teamName}, #{accDivision}, #{accContent}, #{accMoney},#{accDate}, #{accNote})
		<selectKey keyProperty="accNum" resultType="Integer">
			SELECT MAX(ACC_NUM) AS accNum FROM TEAM_ACCOUNT
		</selectKey>
</insert>
 
 <!-- 수정 -->
<update id="update">
	UPDATE TEAM_ACCOUNT 
		SET ACC_DIVISION = #{accDivision}, ACC_CONTENT = #{accContent}, ACC_MONEY= #{accMoney}, ACC_DATE = #{accDate}, ACC_NOTE = #{accNote}
			WHERE ACC_NUM = #{accNum}
</update>
 
 
 <!-- 삭제 -->
<delete id="delete">
	DELETE FROM TEAM_ACCOUNT
		WHERE ACC_NUM = #{accNum}
</delete>
 
 

<select id="selectIn" resultType="org.green.spring.account.domain.AccountDto">
	SELECT TEAM_NAME,sum(acc_money)
		FROM TEAM_ACCOUNT
			WHERE ACC_DIVISION = '수입' AND TEAM_NAME = #{teamName}
			GROUP BY TEAM_NAME,acc_money
</select>
 
 

<select id="selectOut" resultType="org.green.spring.account.domain.AccountDto">
	SELECT TEAM_NAME,sum(acc_money)
		FROM TEAM_ACCOUNT
			WHERE ACC_DIVISION = '지출' AND TEAM_NAME = #{teamName}
			GROUP BY TEAM_NAME,acc_money
</select>


 </mapper>