<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.green.spring.board.repository.BoardRepository">

<!-- 목록조회 -->
<select id="selectList" resultType="org.green.spring.board.domain.BoardDto">
	SELECT * 
		FROM BOARD	
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.board.domain.BoardDto">
	SELECT * 
		FROM BOARD
			WHERE NO = #{no}
</select>

<!-- 추가 -->
<insert id="insert">
	INSERT INTO BOARD (NO, TITLE, CONTENT, WRITER, REG_DATE, UPDATE_DATE) 
		VALUES ( BOARD_SEQ.nextval, #{title}, #{content}, #{writer}, SYSDATE, SYSDATE)
		<selectKey keyProperty="no" resultType="Integer">
			SELECT MAX(NO) AS no FROM board
		</selectKey>
</insert>


<!-- 수정 -->
<update id="update">
	UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content}, UPDATE_DATE=SYSDATE
			WHERE NO = #{no}
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM BOARD
		WHERE NO = #{no}
</delete>

</mapper>