<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.green.spring.match.repository.MatchRepository">

<!-- 목록조회 -->
<select id="selectList" resultType = "org.green.spring.match.domain.MatchDto">
SELECT *
        FROM TEAM_MATCH
        	WHERE  TEAM_NAME = #{teamName}
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.match.domain.MatchDto">
	SELECT *
		FROM TEAM_MATCH
			WHERE MAT_NUM = #{matchNo}
</select>

<!-- 추가 -->
<insert id="insert">
	INSERT INTO TEAM_MATCH (MAT_NUM,TEAM_NAME,MAT_DATE,MAT_STADIUM,MAT_MATCHTEAM,MAT_RESULT,MAT_GOLE,MAT_LOSTPOINT)
		VALUES(TEAM_MATCH_SEQ.NEXTVAL,#{teamName},#{matchDate},#{matchStadium},#{matchTeam},#{matchResult},#{matchGole},#{matchLostPoint} )
		<selectKey keyProperty="matchNo" resultType="Integer">
			SELECT MAX(MAT_NUM) AS matchNo FROM TEAM_MATCH
		</selectKey>
</insert>

<!-- 수정 -->
<update id="update">
	UPDATE TEAM_MATCH 
		SET MAT_DATE = #{matchDate}, MAT_STADIUM = #{matchStadium}, MAT_MATCHTEAM = #{matchTeam}, MAT_RESULT = #{matchResult},MAT_GOLE = #{matchGole},MAT_LOSTPOINT = #{matchLostPoint}  
		WHERE MAT_NUM = #{matchNo} 
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM TEAM_MATCH
		WHERE MAT_NO = #{matchNo}
</delete>


</mapper>