<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.green.spring.match.repository.MatchRepository">

<!-- 목록조회 -->
<select id="selectList" resultType = "org.green.spring.match.domain.MatchDto">
	SELECT *
		FROM TEAM_CALRENDAR
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.match.domain.MatchDto">
	SELECT *
		FROM TEAM_CALRENDAR
			WHERE CAR_NUM = #{matchNo}
</select>

<!-- 추가 -->
<insert id="insert">
	INSERT INTO TEAM_CALRENDAR (CAR_NUM,CAR_DATE,CAR_STADIUM,CAR_MATCHTEAM,CAR_RESULT)
		VALUES(TEAM_ACCOUNT_SEQ.NEXTVAL,SYSDATE,#{matchStadium},#{matchTeam},#{matchResult} )
		<selectKey keyProperty="matchNo" resultType="Integer">
			SELECT MAX(CAR_NUM) AS no FROM TEAM_CALRENDAR
		</selectKey>
</insert>

<!-- 수정 -->
<update id="update">
	UPDATE TEAM_CALRENDAR 
		SET CAR_DATE = #{matchDate}, CAR_STADIUM = #{matchStadium}, CAR_MATCHTEAM = #{matchTeam}, CAR_RESULT = #{matchResult}  
		WHERE CAR_NUM = #{matchNo} 
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM TEAM_CALRENDAR
		WHERE CAR_NO = #{matchNo}
</delete>


</mapper>