<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.green.spring.match.repository.MatchRepository">

<!-- 목록조회 -->
<select id="selectList" resultType = "org.green.spring.match.domain.MatchDto">
SELECT *
        FROM TEAM_MATCH
        	WHERE  TEAM_NAME = #{teamName}
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.match.domain.MatchDto">
	SELECT *
		FROM TEAM_MATCH
			WHERE MATCH_NO = #{matchNo}
</select>

<!-- 추가 -->
<insert id="insert">
	INSERT INTO TEAM_MATCH (MATCH_NO,TEAM_NAME,MATCH_DATE,MATCH_STADIUM,MATCH_TEAM,MATCH_RESULT,MATCH_GOLE,MATCH_LOSTPOINT)
		VALUES(TEAM_MATCH_SEQ.NEXTVAL,#{teamName},#{matchDate},#{matchStadium},#{matchTeam},#{matchResult},#{matchGole},#{matchLostPoint} )
		<selectKey keyProperty="matchNo" resultType="Integer">
			SELECT MAX(MATCH_NO) AS matchNo FROM TEAM_MATCH
		</selectKey>
</insert>

<!-- 수정 -->
<update id="update">
	UPDATE TEAM_MATCH 
		SET MATCH_DATE = #{matchDate}, MATCH_STADIUM = #{matchStadium}, MATCH_TEAM = #{matchTeam}, MATCH_RESULT = #{matchResult},MATCH_GOLE = #{matchGole},MATCH_LOSTPOINT = #{matchLostPoint}  
		WHERE MATCH_NO = #{matchNo} 
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM TEAM_MATCH
		WHERE MATCH_NO = #{matchNo}
</delete>

<!--
개인 기록 조회 
<select id="selectListPoint" resultType = "org.green.spring.match.domain.MatchDto">
SELECT *
    FROM TEAM_MATCH M
    JOIN TEAM_RECORD R
    ON(M.MATCH_NO = R.MATCH_NO )
    WHERE R.USER_ID = #{userId} 
</select>
-->


<!--득점,어시 기본값 -->
<insert id="insertPoint">
	INSERT INTO TEAM_RECORD (USER_NAME, MATCH_NO, RECORD_GOLE, RECORD_ASSIST)
		VALUES(#{userName},#{matchNo},#{recordGole},#{recordAssist})
</insert>

<!-- 단건조회 -->
<select id="selectPoint" resultType="org.green.spring.match.domain.RecordDto">
	SELECT *
		FROM TEAM_RECORD
			WHERE MATCH_NO = #{matchNo} 
</select>

<!-- 득점,어시 추가하기 -->
<update id="updatePoint">
	UPDATE TEAM_RECORD 
		SET USER_NAME = #{userName}, RECORD_GOLE = #{recordGole}, RECORD_ASSIST = #{recordAssist}
		WHERE MATCH_NO = #{matchNo} 
</update>


<!-- 득점, 어시 삭제 -->
<delete id="deletePoint">
	DELETE FROM TEAM_RECORD
		WHERE MATCH_NO = #{matchNo}
</delete>

<!-- SELECT박스 인원 조회 -->
<!-- 단건조회 -->
<select id="selectListPoint" resultType="org.green.spring.match.domain.RecordDto">
SELECT USER_NAME
		FROM TEAM_USERS	
			WHERE
				(ROLE='ROLE_MEMBER' OR ROLE = 'ROLE_ADMIN') AND TEAM_NAME = #{teamName} and TEAM_JOIN = 'ACCESS' 
</select>


<!-- 유저 기록 조회 -->
<select id="selectRecordList" resultType="org.green.spring.match.domain.RecordDto">
SELECT COUNT(MATCH_NO) AS MATCH_NO ,TEAM_NAME ,USER_NAME,SUM(RECORD_GOLE) AS RECORD_GOLE, SUM(RECORD_ASSIST) AS RECORD_ASSIST
	FROM TEAM_RECORD
         WHERE TEAM_NAME = #{teamName}
            GROUP BY USER_NAME,TEAM_NAME
</select>

<!-- 팀 기록 조회 -->
<select id="selectMatchRecord" resultType="org.green.spring.match.domain.MatchRecordDto">
SELECT COUNT(MATCH_NO) AS MATCH_NO ,TEAM_NAME ,SUM(MATCH_GOLE) AS MATCH_GOLE, SUM(MATCH_LOSTPOINT) AS MATCH_LOSTPOINT
	FROM TEAM_MATCH
         WHERE TEAM_NAME = #{teamName}
            GROUP BY TEAM_NAME
</select>

</mapper>