<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.green.spring.member.repository.MemberRepository">


<!-- 추가 -->
<insert id="insert">
	INSERT INTO USERS (USER_ID, USER_PW, USER_NAME, REG_DATE, UPDATE_DATE, ROLE)
		VALUES (#{userId}, #{userPw}, #{userName}, SYSDATE, SYSDATE, #{role})
</insert>

<!-- 목록조회 -->
<select id="selectList" resultType="org.green.spring.member.domain.MemberDto">
	SELECT * 
		FROM USERS	
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.member.domain.MemberDto">
	SELECT * 
		FROM USERS 
			WHERE USER_ID = #{userId}
</select>

<!-- 수정 -->
<update id="update">
	UPDATE USERS
		SET USER_PW= #{userPw}, USER_NAME= #{userName}, ROLE=#{role}, UPDATE_DATE=SYSDATE
			WHERE USER_ID = #{userId}
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM USERS
		WHERE USER_ID = #{userId}
</delete>



</mapper>