<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.green.spring.member.repository.MemberRepository">


<!-- 추가 -->
<insert id="insert">
	INSERT INTO TEAM_USERS (USER_ID, USER_PW, USER_NAME, USER_LOCATION, USER_LEVEL, USER_ROLE)
		VALUES (#{userId}, #{userPw}, #{userName}, #{userLocation}, #{userLevel}, #{role})
</insert>

<!-- 목록조회 -->
<select id="selectList" resultType="org.green.spring.member.domain.MemberDto">
	SELECT * 
		FROM TEAM_USERS	
</select>

<!-- 단건조회 -->
<select id="select" resultType="org.green.spring.member.domain.MemberDto">
	SELECT * 
		FROM TEAM_USERS 
			WHERE USER_ID = #{userId}
</select>

<!-- 수정 -->
<update id="update">
	UPDATE TEAM_USERS
		SET USER_PW= #{userPw}, USER_NAME= #{userName}, USER_LOCATION = #{userLocation},USER_LEVEL = #{userLevel},USER_ROLE=#{role}
			WHERE USER_ID = #{userId}
</update>

<!-- 삭제 -->
<delete id="delete">
	DELETE FROM TEAM_USER
		WHERE USER_ID = #{userId}
</delete>



</mapper>